name: Build PDF

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

  workflow_dispatch:

env:
  ACTIONS_RUNNER_DEBUG: false

jobs:
  build-pdf:
    uses: kolosovpetro/github-latex-template/.github/workflows/build-pdf-template.yml@main
    with:
      file_name: 'SumsOfPowersViaCentralFiniteDifferencesAndNewtonFormula'
      enable_patch_version: true
      enable_pandoc: true
      runs_on: 'ubuntu-latest'
      workflow_name: 'Build PDF'
      build_assets_path: |
        src/SumsOfPowersViaCentralFiniteDifferencesAndNewtonFormula.tex
        src/SumsOfPowersViaCentralFiniteDifferencesAndNewtonFormula.bbl
        src/SumsOfPowersViaCentralFiniteDifferencesAndNewtonFormula.bib
        src/sections
        src/metadata
      working_directory_for_latex: 'src'
